[Desktop Entry]
Version=1.0
Type=Application
Name=PdfToCbr
Comment=Utility to convert PDF in CBR or CBZ
Comment[it]=Applicazione per trasformare PDF in CBR o CBZ
Exec=PdfToCbr
Icon=PdfToCbr
Terminal=false
Categories=Utility;
StartupNotify=true