<?xml version="1.0" encoding="UTF-8"?>
<policyconfig>
    <action id="com.github.tudo75.vala-playground">
        <description>Allow running MyProgram with elevated privileges</description>
        <message>Authentication is required to perform this action</message>
        <defaults>
            <allow_any>auth_admin</allow_any>  <!-- Ask for admin password -->
            <allow_inactive>auth_admin</allow_inactive>
            <allow_active>yes</allow_active>  <!-- Allow normal users without password -->
        </defaults>
    </action>
</policyconfig>